<div class="flex justify-between mb-4">
    <div class="w-1/2 px-4">
        <h2>Got a talk idea? We want to see it!</h2>
        <p>
            FrOSCon is, in our humble opinion, one of the best OSS conferences out there.
            Community members from all over the world come together to meet, learn and share their knowledge.

            The {{ site.title }} wants to on the latest developments, new technologies, tools etc.
        </p>
        <h2>Never given a talk before?</h2>
        <p>
            Time to change that. We will mentor you, e. g. help you to write an abstract, prepare for the talk and much more. All you need to do is to submit your idea for a talk.
        </p>
    </div>

    <div class="w-1/2 px-4">
        <h2>Speaker Package</h2>
        <p>
            Unless we find a sponsor, we won't be able to cover your travel expenses, sorry. We do not get any money for doing this, it costs us our time,
            and we are asking to contribute yours. But we promise, we are going to have a lot of fun.
            It would be great if you submit a talk nonetheless and share your knowledge with the rest of us.
            <br/>
            Further information
            <a href="{{ url('speaker_package') }}" class="text-brand text-bold">speaker information</a>
        </p>
    </div>
</div>

<div class="mt-8 px-4">
    <h2>Diversity Matters!</h2>
    <p>
        The FrOSCon and we as PHP track are committed to creating a conference that is as inclusive as possible.
        We love to bring people together, so it would be great to have people from all over the world submitting talks.
    </p>
    <p>
        Feel free to contact us via Mail or <a href="https://twitter.com/FrOSConPHPTrack" target="_blank" title="FrOSCon PHP Track at Twitter">Twitter</a>
        if there is anything that prevents you from joining us (except the travel expenses).
    </p>
    <p>
        We are also committed to ensure our PHP track is a place where ideas exchanged, old friends can get together and new friendships are made.
        Harassment in any form is not tolerated. We reserve the right to remove, without refund, ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
    </p>
</div>
