<div class="flex justify-between mb-4">
    <div class="w-1/2 px-4">
        <h2>Got a talk idea? We want to see it!</h2>
        <p>
            We’re pleased to announce our conference. The OpenWest Conference is
			one of the best Open Source conferences where community members from around
			the western U.S. come together to learn and share information about the latest
			trends and technologies in development, system adminstration, and more.
        </p>
        &nbsp;<br />

		<h2>Speaker Package</h2>
        <p>
            We know speakers are key to the success of a conference and hope 
			you will submit a talk. In appreciation of your efforts, our 
			<a href="{{ url('speaker_package') }}" class="text-brand text-bold">speaker compensation package</a> includes:

			<ul>
				<li>Full conference pass (excluding tutorials)</li>
				<li>For speakers remote to the Area:</li>
				<ul>
					<li>Complimentary airfare/travel (according to conference policy)</li>
					<li>3 complimentary hotel nights (additional hotel night for speakers presenting a tutorial)</li>
				</ul>
				<li>All activities included in regular conference</li>
				<li>We will pick speakers up and drop them off to/from the airport</li>
			</ul>
        </p>
    </div>

    <div class="w-1/2 px-4">
		<h3>Blind community voting</h3>
		<p>
			{{ site.title }} is committed to creating a conference that is as inclusive as possible.
			We want to showcase talent available around the U.S. and welcome international submissions as well.
		</p>
		<p>
			We are also committed to ensuring the conference is a place
			where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
			is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
			professional and courteous to each other. We reserve the right to remove, without refund,
			ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
		</p>
        &nbsp;<br />
		
		<h3>Code of Conduct</h3>
		<p>
			We are also committed to ensuring the conference is a place
			where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
			is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
			professional and courteous to each other. We reserve the right to remove, without refund,
			ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
		</p>
		<p>
			Speakers are expected to read and abide by our full <a href="http://www.openwest.org/code-of-conduct/">Code of Conduct</a>.
		</p>
        &nbsp;<br />
		
		<h3>Audience Peculiarities</h3>
		<p>
			It's always good practice to know your audience.  Many of the OpenWest Conference attendees are Utah residents who prefer workplace appropriate language.  
			Obscene remarks or the heavy use of profanity will not be appreciated by the majority of attendees. 
		</p>
    </div>
</div>

