{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} is not limited to just PHP-related talks. There have been
        sessions covering a wide range of topics supporting PHP developers and DevOps
        as well, and we encourage you to "think outside the box" to come up with your
        own unique topics.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Virtualization and environments</li>
        <li>Dealing with Legacy</li>
        <li>Alternate PHP run-times</li>
        <li>PHP internals</li>
        <li>Development principles</li>
        <li>Security</li>
        <li>Framework-related topics</li>
        <li>Tooling - Testing / Building / Deployment</li>
        <li>
            <ul>
                <li>PHP Devs in Frontend Environments</li>
                <li>Continuous Integration</li>
                <li>Building APIs (REST, SOAP, GraphQL)</li>
                <li>Testing (unit, functional, etc.)</li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}

