{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} is not limited to just PHP-related talks. There have been
        sessions covering a wide range of topics supporting PHP developers and DevOps
        as well, and we encourage you to "think outside the box" to come up with your
        own unique topics.
    </p>
    <p>
        Due to financial constraints most conferences tend to pick speakers to present
        multiple talks. Therefore <strong>it is advisable to submit a few talk ideas, not just one.</strong>
        By submitting a single talk you may lessen your chances of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Virtualization and environments</li>
        <li>Javascript</li>
        <li>Alternate PHP run-times</li>
        <li>PHP internals</li>
        <li>Development principles</li>
        <li>Security</li>
        <li>Mobile-first design</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>Version control</li>
        <li>User Experience/Usability</li>
        <li>Building APIs (REST, SOAP, whatever)</li>
        <li>Continuous Integration</li>
        <li>Framework-related topics</li>
        <li>Professional development</li>
    </ul>
</div>
{% endblock %}

