{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>{{ site.title }} Speaker Information</h2>
    <p>
        We're committed to bringing together some of the best speakers from all around the
        world to share their knowledge with you here. We provide a travel and
        accommodation package to all selected speakers to help make this possible.
    </p>
    <h3>About the event</h3>
    <p>
        For eleven years the PHP track at the <a href="https://www.froscon.de/1/home/">Free and Open Source Software Conference (FrOSCon)</a>
        was organized by the PHP UG of dortmund. Special thanks goes to Kore and Sebastian for their impressive work.
        From this year on <a href="https://twitter.com/electricmaxxx">Maximilian</a> and <a href="https://twitter.com/dot_ute">Ute</a> will take over.
    </p>
    <p>
        When the Call for Papers closes, the organizers will sort through the submissions, making
        their selections. Speakers will be notified as soon as the selection process has been completed.
    </p>
    <h3>The audience</h3>
    <p>
        FrOSCon is a conference organized by geeks for geeks. One of the awesome things about FrOSCon is,
        that you will not only meet software developers, but also hardware geeks, telephony geeks, knitting geeks,
        gaming geeks. Prepare for that. :)
    </p>
    <h3>Speaker Package</h3>
    <p>
        Note that unless we find a sponsor for this, we won't be able to cover your travel expenses.
        This is an almost free conference organized by volunteers. We do not get any money for doing this,
        it just costs us time. But promised, we gonna have a lot of fun.
    </p>
    <p>
        Since this is the case you can come up with rather esoteric and complex topics you would not present elsewhere.
    </p>
</div>
{% endblock %}
