{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>{{ site.title }} Speaker Information</h2>
    <p>
        We're committed to bringing together some of the best speakers from all around the
        world to share their knowledge with you here. We provide a travel and
        accommodation package to all selected speakers to help make this possible.
    </p>
    <h3>About the event</h3>
    <p>
        Speakers will be provided with a projector, a wireless lapel microphone and a screen
        for their presentation (size depends on the room). Speakers should bring any equipment
        they need to connect to projectors (VGA). It is also suggested that you reduce your
        dependency on the in-house internet connection as possible.
    </p>
    <p>
        When the Call for Papers closes, the organizers will sort through the submissions, making
        their selections. Speakers will be notified as soon as the selection process has been completed.
    </p>
    <h3>This year's package</h3>
    <p>
        Our speaker package for this year's event includes:
    </p>
    <ul>
        <li>Full conference pass</li>
        <li>For speakers remote to the Area:</li>
        <ul>
            <li>Complimentary airfare/travel</li>
            <li>2 complimentary hotel nights</li>
        </ul>
        <li>Lunch, receptions and activities included in regular conference</li>
        <li>We'll pick you up and drop you off to/from the airport so you don't have to worry about it.</li>
    </ul>
    <p>
        International speakers are encouraged to <a href="/">submit their ideas</a>, but because of budget restrictions,
        we can only accept a limited number of speakers from outside the country.
    </p>
    <h3>Tips for Submission</h3>
    <p>
        We <i>strongly</i> encourage potential speakers to submit more than one submission on more than one topic. The
        more submissions you contribute, the more options you give us to pick you. Be sure your talk title and abstract
        define the exact topic you want to talk about and what you hope people will learn from the session. In previous
        years, some submissions sounded interesting but we just didn't have enough detail for them to make the final cut.
    </p>
</div>
{% endblock %}
