{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>{{ site.title }} Speaker Information</h2>
    <p>
        FrOSCon is, in our humble opinion, one of the best OSS conferences out there.
        Community members from all over the world come together to meet, learn and share their knowledge.

        The {{ site.title }} wants to on the latest developments, new technologies, tools etc.
    </p>
    <h2>Never given a talk before?</h2>
    <p>
        Time to change that. We will mentor you, e. g. help you to write an abstract, prepare for the talk and much more. All you need to do is to submit your idea for a talk.
    </p>
    <p>
        At the {{ site.title }} anything that is related to the PHP Open Source world is welcome. We will do our best to introduce, support and mentor new speakers.
        New speakers can submit a draft and an idea of a talk, and we will help you make your talk a success, from idea to stage.
    </p>
    <h3>About the event</h3>
    <p>
        For twelve years the PHP track at the <a href="https://www.froscon.de/1/home/">Free and Open Source Software Conference (FrOSCon)</a>
        was organized by the PHP UG of dortmund. Special thanks goes to Kore and Sebastian for their impressive work.
        From this year on <a href="https://twitter.com/electricmaxxx">Maximilian</a> and <a href="https://twitter.com/dot_ute">Ute</a> will take over.
    </p>
    <p>
        When the Call for Papers closes, the organizers will sort through the submissions, making
        their selections. Speakers will be notified as soon as the selection process has been completed.
    </p>
    <h3>The audience</h3>
    <p>
        FrOSCon is a conference organized by geeks for geeks. One of the awesome things about FrOSCon is,
        that you will not only meet software developers, but also hardware geeks, telephony geeks, knitting geeks,
        gaming geeks. Prepare for that. :)
    </p>
    <h3>Speaker Package</h3>
    <p>
        Unless we find a sponsor, we won't be able to cover your travel expenses, sorry. We can promise you, however,
        a lot of interesting talks by great people and a lot of fun being there.
        It would be great if you submit a talk nonetheless and share your knowledge with the rest of us.
    </p>
</div>
{% endblock %}
