{% extends "layouts/admin.twig" %}
{% block content %}
    <h2 class="headline">Submitted Talks</h2>
    <form method="get" class="form-inline" role="form">
            <div class="form-group">
                <label>Filter By:</label>
                <select name="filter" class="form-control">
                    <option value="">None</option>
                    <option value="favorited"{% if filter|lower == 'favorited' %} SELECTED{% endif %}>Favorited Talks</option>
                    <option value="rated"{% if filter|lower == 'rated' %} SELECTED{% endif %}>Rated Talks</option>
                    <option value="notrated"{% if filter|lower == 'notrated' %} SELECTED{% endif %}>Not Rated Talks</option>
                    <option value="viewed"{% if filter|lower == 'viewed' %} SELECTED{% endif %}>Viewed Talks</option>
                    <option value="notviewed"{% if filter|lower == 'notviewed' %} SELECTED{% endif %}>Not Viewed Talks</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Go</button>
    </form>
    {% include "admin/talks/_table.twig" %}
    {{ pagination|raw }}
{% endblock %}
{% block scripts %}
  {{ parent() }}
  <script src="/assets/js/admin/talk.js"></script>
{% endblock %}