/.idea
/.vagrant
/cache/
/coverage/
/vendor/*
/tests/coverage/*
/templates/compilation_cache
/htmlpurifier_cache
.DS_Store
opencfp.iml
.buildpath
.project
.settings
composer.phar
composer.lock
deployment.properties
deployment.xml
/scripts