/.idea
/.vagrant
/node_modules/
/cache/
/coverage/
/vendor/*
/tests/coverage/*
/resources/views/compilation_cache
/htmlpurifier_cache
.DS_Store
opencfp.iml
.buildpath
.php_cs
.php_cs.cache
.project
.settings
composer.phar
deployment.properties
deployment.xml
/scripts
/tests/dump.sql
/web/uploads/*
!/web/uploads/dummyphoto.jpg
/web/.htaccess
/phpunit.xml
infection-log.txt
infection.json
docker-compose.yml
Homestead.yaml
