/.idea
/.vagrant
/cache/
/coverage/
/vendor/*
/tests/coverage/*
/templates/compilation_cache
/htmlpurifier_cache
.DS_Store
opencfp.iml
.buildpath
.php_cs.cache
.project
.settings
composer.phar
deployment.properties
deployment.xml
/scripts
/web/uploads/*
!/web/uploads/dummyphoto.jpg
/web/.htaccess
phinx.yml
/phpunit.xml
/web/index_dev.php
