{
    "timeout": 20,
    "source": {
        "directories": [
            "classes"
        ],
        "exclude": [
            "Provider",
            "Http/API",
            "Http/OAuth",
            "Infrastructure/OAuth"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    }
}
