<phpunit backupGlobals="true" bootstrap="tests/bootstrap.php">
    <filter>
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
    </filter>

    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="framework">
            <directory>tests/OpenCFP</directory>
        </testsuite>
    </testsuites>
</phpunit>
