<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         columns="max"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <php>
        <const name="BASE_PATH" value="."/>
    </php>
    <filter>
        <whitelist>
            <directory>classes</directory>
            <exclude>
                <directory>classes/Provider</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="all">
            <directory>tests/OpenCFP</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
            <arguments>
                <array>
                    <element key="slowThreshold">
                        <integer>300</integer>
                    </element>
                    <element key="reportLength">
                        <integer>5</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
</phpunit>
