[application]
title = "OpenCFP"
url = "http://cfp.dev"

[database]
dsn = "mysql:dbname=cfp;host=127.0.0.1"
user = "root"
password = ""

[twig]
template_dir = "/templates"

[smtp]
user = ""
password = ""

; for Gmail set host = "smtp.gmail.com"
host = "localhost"

; for Gmail set port = "465"
port = "25"

; uncomment if your smtp server requires encryption
; available options are "tls", "ssl"
; for Gmail set encryption = "ssl"
;encryption = "ssl"

[htmlpurifier]
; absolute path to cache the serialized definitions
; path must be writeable
; path must not have trailing slash
; if not set will default to html purifier library folder
cache = "${app.cache_dir}/htmlpurifier"

[twig]
path = "${app.dir}/templates"
options[cache] = "${app.cache_dir}/twig"
options[strict_variables] = false

;options[debug]               = false
;options[charset]             = UTF-8
;options[base_template_class] = Twig_Template
;options[strict_variables]    = false
;options[autoescape]          = html
;options[cache]               = false
;options[auto_reload]         = null
;options[optimizations]       = -1

[swiftmailer]
;options[host]       = localhost
;options[port]       = 25
;options[username]   = null
;options[password]   = null
;options[encryption] = null
;options[auth_mode]  = null
