application:
  title: OpenCFP
  url: http://localhost
  email: contact@openconf.com
  eventurl: http://localhost
  event_location: Miami, FL
  enddate: Oct. 14th, 2100
  show_submission_count: false
  airport: MIA
  arrival: 2018-10-26
  departure: 2018-10-26
  secure_ssl: false
  online_conference: false
  date_format: d/m/Y
  date_timezone: "UTC"
  coc_link: http://confcodeofconduct.com/
  show_contrib_banner: true
  venue_image_path: /assets/img/venue.jpg

database:
  host: 127.0.0.1
  database: cfp
  dsn: mysql:dbname=cfp;host=127.0.0.1
  user: root
  password: ~

log:
  level: debug

mail:
  host: ~
  port: ~
  username: ~
  password: ~
  encryption: ~
  auth_mode: ~

talk:
  categories:
    api: APIs (REST, SOAP, etc.)
    continuousdelivery: Continuous Delivery
    database: Database
    development: Development
    devops: Devops
    framework: Framework
    ibmi: IBMi
    javascript: JavaScript
    personal: Personal Skills
    security: Security
    testing: Testing
    uiux: UI/UX
    other: Other
  levels:
    entry: Entry level
    mid: Mid-level
    advanced: Advanced
  types:
    regular: Regular (50 mins)
    Autorial: Tutorial (3 hrs)

security:
  firewalls:
    secured_area:
      form_forgot:
        csrf_parameter: _csrf_security_token
        csrf_token_id: forgot_password

reviewer:
  users:
    -

opencfpcentral:
  sso: off
  clientId: 0
  clientSecret: 0
  authorizeUrl: https://www.opencfpcentral.com/oauth/authorize?
  redirectUri: http://localhost/sso/redirect
  resourceUri: https://www.opencfpcentral.com/api/user
  tokenUrl: https://www.opencfpcentral.com/oauth/token
