{% extends "layouts/dashboard.twig" %}
{% block content %}
    <!-- page-id: user/create -->
    <h2 class="headline">Create your {{ site.title }} speaker profile below</h2>
    <p>A complete profile improves your chances of being selected.</p>
    {% include 'forms/_user.twig' %}
{% endblock %}
