{% extends "layouts/admin.twig" %}
{% block content %}
    <h2 class="headline">Top Rated Talks</h2>
    {% include "admin/review/_table.twig" %}
    {{ pagination|raw }}
{% endblock %}
{% block scripts %}
  {{ parent() }}
  <script src="/assets/js/admin/querystring.js"></script>
  <script src="/assets/js/admin/talk.js"></script>
{% endblock %}