<div class="row marketing">
    <div class="col-md-6">
        <h4 class="headline">Got a talk idea? We want to see it!</h4>
        <p>
            As a community conference, we're interested in a wide variety of
            topics related to PHP and tools commonly used by PHP developers, not just
            in PHP itself. In previous years we've had talks covering things like
            development principles, Javascript, deployment tools and development
            security. So, if your topic "isn't exactly PHP" there's still a chance it
            could get selected to help round out the conference.
        </p>
        <p>
            <h4 class="headline">Speaker Package</h4>
            <p>
                Our speaker package for this year's event includes:
            </p>
            <ul>
                <li>3 hotel nights</li>
                <li>Airfare or travel (arranged by conference)</li>
                <li>Lunch and dinner provided both days of the event</li>
                <li>We'll pick you up and drop you off to/from the airport so you don't have to worry about it.</li>
            </ul>
        </p>
        <p>
            If you or your employer can cover your expenses, we are happy to extend
            an offer to be a sponsor of the conference in exchange for the generosity.
        </p>
    </div>
    <div class="col-md-6">
        <h4 class="headline">Diversity Matters!</h4>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible.
            We want to showcase talent available in and around Texas along with encouraging beginning
            speakers to make their mark. We are also happy to welcome international submissions
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
            professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
        </p>
        <h4 class="headline">Don't wait, Submit now!</h4>
        <p>
            We look forward to all of the great submissions for this year's event! Remember, you can
            submit more than one session idea too! This year's submission deadline is <strong>{{ site.enddate }}</strong>
            so don't put it off!
        </p>
    </div>
</div>