<div class="row marketing">
    <div class="col-md-6">
        <h4 class="headline">Got a talk idea? We want to see it!</h4>
        <p>
            We’re pleased to announce the 10th annual ZendCon which will be held October 27-30th, 2014 in Santa Clara, 
            CA.  {{ site.title }} has a long history of being one of the “must attend” PHP conferences as community 
            members from around the world have come together to learn and share information about the latest 
            trends and technologies in professional PHP development.
            
            Our main topics this year are:
			<ul>
				<li><strong>PHP Best Practices &amp; Tooling</strong></li>
				<li><strong>Continuous Delivery &amp; DevOps</strong></li>
				<li><strong>Application Architecture - APIs, Mobile, Cloud Services</strong></li>
			</ul>
 
			We would welcome submission of any talk included in the wide variety of 
			topics related to PHP and tools commonly used by PHP developers.  We are 
			looking for submissions for:
			<ul>
				<li>Pre-conference tutorials on October 27 – 3 hour intensive session</li>
				<li>Breakout sessions on October 28, 29 and 30 – 1 hour sessions including Q&A</li>
				<li>Keynote sessions on October 28-30 – 1 hour sessions with topics appealing to the entire audience</li>
			</ul>
        </p>
        
        <h4 class="headline">Diversity Matters!</h4>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible.
            We want to showcase talent available around the U.S. and welcome international submissions as well.
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
            professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
        </p>
        
        
    </div>
    <div class="col-md-6">
    	<h4 class="headline">Speaker Package</h4>
        <p>
            We know that speakers are key to the success of the conference and hope 
            you will submit a talk.  In appreciation of your efforts, our speaker 
            compensation package includes:
                
            <ul>
                <li>Full conference pass and access to conference tutorials</li>
                <li>For speakers remote to the San Francisco Bay Area:</li>
                <ul>
                	<li>Complimentary airfare/travel (according to conference policy)</li>
                	<li>2 complimentary hotel nights (additional 2 hotel night for speakers presenting more than 2 sessions)</li>
                </ul>
                <li>Lunch, receptions and activities included in conference</li>
            </ul>
        </p>
        <p>
            We had rave reviews from last year’s attendees and are looking forward 
            to another great PHP event.  We look forward to seeing what ideas you 
            want to share with us this year and hope you'll join us in Santa Clara!
        </p>
        
        <h4 class="headline">Don't wait, Submit now!</h4>
        <p>
            We look forward to all of the great submissions for this year's event! Remember, you can
            submit more than one session idea too! This year's submission deadline is <strong>{{ site.enddate }}</strong>
            so don't put it off!
        </p>
    </div>
</div>