<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We'd LOVE to see it!</h3>
            <p>
                The dates are set, the venue is booked. All that we are missing to make
                {{ site.title }} the best event yet is the speakers. We're really keen to
                read your submissions, and even if you've never spoken at a conference
                before, don't be afraid to submit. PHP South Coast prides itself on being
                a platform to allow brand new speakers to thrive.
            </p>
            <p>
                We don't cover travel expenses unless its absolutely necessary, but please,
                don't be afraid to ask.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Speaker Package</h3>
            <p>
                We appreciate the time and energy all our speakers contribute to make the
                event happen, and we'll try our best to make the event as painless as
                possible.

                <ul>
                    <li>3 Nights Accomodation</li>
                    <li>Enjoyable Speaker's Dinner</li>
                    <li>Collection and Delivery to Local Airport</li>
                </ul>
            </p>

            <p><a href="{{ url('speaker_package') }}">View Full Speaker Package</a></p>

        </div>
    </div>
</div>

<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible.
            We want to showcase talent available around the United Kingdom and welcome international
            submissions as well.
        </p>
        <p>
            We'll be asking speakers to sign a Speaker Agreement if they are selected. This only confirms
            that the speaker will adhere to our code of conduct, and sets out some reimbursement policies
            should the speaker be unable to attend at short notice. Please ask if you'd like to see
            the policy before submitting.
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
            professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
        </p>
    </div>
</section>

<div class="container">
    <div class="section row">
        <div class="col-md-12">
            <h3 class="headline headline--beta headline--centered">speakers@phpsouthcoast.co.uk</h3>
            <p>Please, drop us a line if you have any queries or questions. We're committed to making
            {{ site.title }} easy and enjoyable for speakers new and old alike.</p>
        </div>
    </div>
</div>
