<div class="row marketing">
    <div class="col-md-6">
        <h4 class="headline">Got a talk idea? We want to see it!</h4>
        <p>
            {{ site.title }} is back for 2014! Join us in making this year's
            edition of Canada's only dedicated PHP conference a success for
            the third year running.
        </p>
        <p>
            This year, we are looking for talk submissions that will stand out:
            <ul>
                <li>Highlighting new speakers and Canadian talent</li>
                <li>Pushing the envelope of what you can do with PHP</li>
                <li>Great complementary tools for PHP developers</li>
                <li>Soft-skills are important to building your career!</li>
            </ul>
        </p>
        <h4 class="headline">Diversity Matters!</h4>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible.
            We want to showcase talent available in Canada and around the world, hoping to attract
            a mix of new speakers and bring in some familar faces from the PHP world. 
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
            professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
        </p>
        
        
    </div>
    <div class="col-md-6">
    	<h4 class="headline">Speaker Package</h4>
        <p>
            We know speakers are key to the success of a conference and hope 
            you will submit a talk.  In appreciation of your efforts, our speaker 
            compensation package includes:
                
            <ul>
                <li>Full conference pass and access to conference tutorials</li>
                <li>For speakers remote to the Greater Toronto Area:</li>
                <ul>
                	<li>Complimentary airfare/travel (according to conference policy)</li>
                	<li>2 complimentary hotel nights (additional hotel night for speakers presenting a tutorial)</li>
                </ul>
                <li>Lunch and snacks are included at the conference</li>
                <li>Speaker's dinner at an awesome Italian restaurant near the venue</li>
            </ul>
        </p>
        <p>
            We do accept international speakers (yes, the US counts as international), but be aware that slots are limited and
            you will likely be asked to deliver multiple talks if selected.
        </p>
        <h4 class="headline">Don't wait, Submit now!</h4>
        <p>
            We look forward to all of the great submissions for this year's event! Remember, you can
            submit more than one session idea too! This year's submission deadline is <strong>{{ site.enddate }}</strong>
            so don't put it off!
        </p>
    </div>
</div>
