{% extends "layouts/default.twig" %}
{% block title %}TrueNorthPHP - Call for Papers{% endblock %}
{% block content %}
    Thank-you for verifying your email.  <a href="dashboard.php">Continue...</a>
{% endblock %}
