{% extends "layouts/default.twig" %}
{% block title %}TrueNorthPHP - Call for Papers{% endblock %}
{% block content %}
    Thank-you for creating your account.  <a href="/dashboard">Continue to your dashboard...</a>
{% endblock %}
