{% extends "layouts/default.twig" %}
{% block title %}SunshinePHP - Reset Password{% endblock %}
{% block content %}
Looks like you are using an invalid reset code. Please try using the <a href="{{ site.url }}/forgot">Forgot My Password</a>
page again to get a valid code.
{% endblock %}
