{% extends "layouts/default.twig" %}
{% block title %}TrueNorthPHP - Reset Password{% endblock %}
{% block content %}
<p>
Looks like you are trying to reset the password of a user that does not
exist. Please try using the <a href="{{ site.url }}/forgot">Forgot My Password</a>
page again with an email for an existing user to get a valid code.
</p>
{% endblock %}
