{% extends "layouts/default.twig" %}

{% block title "Change your password" %}

{% block content %}
<div class="row-fluid marketing">
    <div class="span12">
    <h4>Change Your Password</h4>
    {% include "form_errors.twig" with { 'form': form } only %}
    <form class="form-search" id="change_password" action="/profile/change_password" method="POST">
        <input name="password[password]" type="password" id="profile-passwd" placeholder="New password"/><br/><br/>
        <input name="password[confirmation]" type="password" id="profile-passwd-confirm" placeholder="New password (confirm)"/>
        <br><br>
        <button type="submit" class="btn">Change Password</button>
    </form>
</div>
{% endblock %}