{% extends "layouts/default.twig" %}
{% block content %}
<div class="row-fluid marketing">
    <div class="span12">
        <h4>Create Your Talk</h4>
        {% include "form_errors.twig" with { 'form': form } only %}
        <form action="{{ url.site }}/talk/create" method="POST">
            {% include "talk_form.twig" with {
                'form': form,
                'button_label': 'Submit my talk!',
            } only %}
        </form>
    </div>
</div>
{% endblock %}

