{% extends "layouts/default.twig" %}
{% block content %}
<div class="row-fluid marketing">
    <div class="span12">
    <h4>Account Created</h4>
    We've sent you a link to activate your account.  Please check your email,
        and follow the directions to continue.
{% endblock %}
