{% extends "layouts/default.twig" %}
{% block content %}
<div class="row-fluid marketing">
    <div class="span12">
    <h4>Account Created</h4>
    <p>
    You've succesfully created your account. Now it's time to <a href="/login">Login</a>
    and start submitting talks!
    </p>
{% endblock %}
