{% extends "layouts/default.twig" %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h4>Create your Sunshine PHP speaker profile below</h4>
            {% if error_message is defined %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong><br>{% autoescape false %}{{ error_message  }}{% endautoescape %}
                </div>
            {% endif %}
            {% include 'user_form.twig' %}
        </div>
    </div>
{% endblock %}
