{% extends "layouts/default.twig" %}
{% block content %}
<div class="row-fluid marketing">
    <div class="span12">
    <h4>Create your TrueNorthPHP Speaker's Account below</h4>
    {% include 'flash.twig' %}
    {% include 'user_form.twig' %}
{% endblock %}
