{% extends "layouts/default.twig" %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h4>Create your True North PHP speaker profile below</h4>
            {% include "form_errors.twig" with { 'form': form } only %}
            <form action="{{ site.url }}/signup" method="POST">
                {% include 'user_form.twig' with {
                    'button_label': 'Create my speaker profile',
                    'action': 'signup',
                    'form': form
                } only %}
            </form>
        </div>
    </div>
{% endblock %}
