{% extends "layouts/default.twig" %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h4>Create your True North PHP speaker profile below</h4>
            {% if error_message %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong>
                    <br>
                    {% autoescape false %}{{ error_message  }}{% endautoescape %}
                </div>
            {% endif %}
            <form action="/signup" method="POST">
                {% include 'user_form.twig' with {
                    'button_label': 'Create my speaker profile',
                    'action': 'signup',
                    'form': form
                } only %}
            </form>
        </div>
    </div>
{% endblock %}
