{% extends "layouts/default.twig" %}
{% block content %}
<div class="row-fluid">
    <div class="alert alert-success">
        <h4>Account Created</h4>
        <p>
            You've successfully created your account. Now it's time to <a href="{{ site.url }}/login">Login</a>
            and start submitting talks!
        </p>
    </div>
</div>
{% endblock %}
