{% extends "layouts/default.twig" %}

{% block title "Edit my profile" %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h4>My Profile</h4>
        {% include "form_errors.twig" with { 'form': form } only %}
        <form action="{{ site.url }}/profile/edit" method="POST">
            {% include 'user_form.twig' with {
                'button_label': 'Update Profile',
                'action': 'edit'
            } %}
        </form>
    </div>
</div>
{% endblock %}
