{% extends "layouts/default.twig" %}
{% block content %}
<div class="row-fluid marketing">
    <div class="span12">
    <h4>Edit Your Talk</h4>
    {% include "flash.twig" %}
    {% include "talk_form.twig" %}
{% endblock %}

