{% extends "layouts/default.twig" %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h4>My Profile</h4>
        {% if error_message is defined %}
            <div class="alert alert-{{ message_type }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% autoescape false %}{{ error_message  }}{% endautoescape %}
            </div>
        {% endif %}
        {% include 'user_form.twig' %}
    </div>
</div>
{% endblock %}
