{% extends "layouts/default.twig" %}
{% block content %}
<div class="row-fluid marketing">
    <div class="span12">
    <h4>Edit Your Talk</h4>
    {% include "form_errors.twig" with { 'form': form } only %}
    <form action="{{ site.url }}/talk/update/{{ talk.id }}" method="POST">
    {% include 'talk_form.twig' with {
        'button_label': 'Update my talk!',
        'form': form
    } only %}
    </form>
{% endblock %}

