{% extends "layouts/default.twig" %}
{% block content %}
<div class="row-fluid marketing">
    <div class="span12">
    <h4>Edit Your Talk</h4>
    {% for message in error_messages %}
    {{ message|raw }}<br>
    {% endfor %}
    {% include "talk_form.twig" %}
{% endblock %}

