{% extends "layouts/default.twig" %}
{% block title %}SunshinePHP - Password Reset{% endblock %}
{% block content %}
    <p>&nbsp;</p>    
    An email giving you a link to reset your password has been sent.
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
{% endblock %}
