{% extends "layouts/default.twig" %}
{% block content %}
    <h2 class="headline">Login</h2>
    {% include "forms/_login.twig" %}
{% endblock %}
{% block js %}
    <script src="js/login.js"></script>
{% endblock %}
