{% extends "layouts/dashboard-nowrap.twig" %}
{% block content %}
  <div class="module module--constrained">
    <div class="module__header">Login</div>
    <div class="module__body">
      {% include "forms/_login.twig" %}
    </div>
  </div>
{% endblock %}
{% block js %}
    <script src="js/login.js"></script>
{% endblock %}
