<div class="row-fluid marketing">
    <div class="span6">
        <h4 align="center">Got a talk idea? We want to see it!</h4>
        <p>
            As a community-driven conference, we are interested in a wide variety of
            topics related to PHP and tools commonly used by PHP developers. There's
            no reason to not submit a talk: the worst thing that will happen is that
            we will say "that's an awesome talk, we just can't fit it in!"
        </p>
        <p>
            With the addition of a tutorial day to the 2013 edition we are looking for:
            <ul>
                <li>Full-day tutorials (6 hours)</li>
                <li>Half-day tutorials (3 hours)</li>
                <li>Regular sessions (50 minutes including Q&A)</li>
            </ul>
        </p>
        <p>
            As with last year's conference, our venue is Microsoft Canada's offices
            near Highway 401 and Mississauga Road, just west of Pearson International Airport (YYZ).
            Coffee, tea, drinks and lunch will be provided at no extra cost to attendees.
        </p>
        <p>
            All accepted speakers will have as much of their travel &amp; accommodation expenses covered
            as possible by the conference (for reference all 2012 speakers who required reimbursement
            had 100% of their expenses covered).
        </p>
        <p>
            These include travel from your location to
            Pearson International Airport, transportation to the venue and up to 3 nights hotel accommodation at a
            hotel within walking distance of the venue.
        </p>
        <p>
            If you or your employer can cover your expenses, we are happy to extend
            an offer to be a bronze-level sponsor of the conference in exchange for the
            generosity.
        </p>
    </div>
    <div class="span6">
        <h4 align="center">Diversity Matters!</h4>
        <p>
            True North PHP is committed to creating a conference that is inclusive as possible.
            We want to showcase the talent available in Canada along with fostering beginning
            speakers. We are also happy to welcome international speakers, but the numbers
            are limited to our ability to cover expenses.
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and harassment
            is not tolerated. We expect speakers and attendees to be professional and courteous to
            each other. We reserve the right to remove from the venue without refund ANY attendee (speaker or otherwise)
            who is unable to adhere to these ideals.
        </p>
        <p>
            We look forward to seeing what ideas you want to share with us this year!
        </p>
    </div>
</div>