<div class="row-fluid marketing">
    <div class="span6">
        <h4 style="text-align: center;">Got a talk idea? We want to see it!</h4>
        <p style="text-align:justify;">
            As a community conference, we're interested in a wide variety of
            topics related to PHP and tools commonly used by PHP developers.
        </p>
        <p style="text-align:justify;">
            With the addition of a tutorial day for our 2014 edition we are looking for:
            <ul>
                <li>9 Tutorials (3 hours)</li>
                <li>30 Regular sessions (50 minutes including Q&A)</li>
            </ul>
        </p>
        <p style="text-align:justify;">
            The venue is Embassy Suites Miami International at 3974 NW South River Drive, 
            Miami, Florida 33142, just 1 mile east of Miami International Airport (MIA).
        </p>
        <p style="text-align:justify;">
            <strong>Speaker Package:</strong>
            <ul>
                <li>2 hotel nights (at the venue)</li>
                <li>Airfare or travel (arranged by conference)</li>
                <li>Breakfast and lunch (normal conference days)</li>
                <li>Shuttle to/from venue to airport.</li>
            </ul>
        </p>
        <p style="text-align:justify;">
            If you or your employer can cover your expenses, we are happy to extend
            an offer to be a sponsor of the conference in exchange for the generosity.
        </p>
    </div>
    <div class="span6">
        <h4 style="text-align: center;">Diversity Matters!</h4>
        <p style="text-align:justify;">
            SunshinePHP is committed to creating a conference that is as inclusive as possible.
            We want to showcase talent available in South Florida along with fostering beginning
            speakers. We are also happy to welcome international speakers, but the numbers
            are limited by our ability to cover expenses.
        </p>
        <p style="text-align:justify;">
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers and attendees to be professional and courteous to
            each other. We reserve the right to remove, without refund, ANY attendee (speaker or otherwise)
            who is unable to adhere to these ideals.
        </p>
        <p style="text-align:justify;">
            We look forward to seeing what ideas you want to share with us this year!
        </p>
    </div>
</div>