{% extends "layouts/default.twig" %}
{% block content %}
{% endblock %}
<div class="row-fluid">
    <div class="alert alert-success">
        <h4>Password Reset</h4>
        <p>
            You've successfully reset your password. Now you should be able to  <a href="{{ site.url }}/login">login</a>
        </p>
    </div>
</div>
