{% extends "layouts/default.twig" %}
{% block content %}
<div class="row-fluid">
    <div class="alert alert-success">
        <h4>Password Not Reset</h4>
        <p>
Sorry, we were unable to reset your password. Please use the <a href="{{ site.url }}"/forgot">Forgot My Password</a> page again 
and submit another request.
        </p>
    </div>
</div>
{% endblock %}

