{% extends "layouts/default.twig" %}

{% block sidebar %}
    <h4 class="uppercase text-sm leading-loose text-grey mb-3">Navigation</h4>
    <ul class="list-reset">
        <li class="hover:underline"><a href="{{ url('reviewer') }}">Dashboard</a></li>
        <li class="hover:underline"><a href="{{ url('reviewer_talks') }}">Talks</a></li>
    </ul>
{% endblock %}
