<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <title>{% block title %}{{ site.title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/app.css" rel="stylesheet" media="screen">
    </head>
    <body class="opencfp-splash">

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}

        {% include "_forkme.twig" %}
    </body>
</html>
