<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <title>{% block title %}{{ site.title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ assets('css/app.css') }}" rel="stylesheet" media="screen">
    </head>
    <body class="h-full border-t-4 border-brand bg-cover flex items-center justify-center" style="background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({{ site.venue_image_path }}) no-repeat center center / cover fixed;">

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}

        {% if site.show_contrib_banner %}
            {% include "_forkme.twig" %}
        {% endif %}
    </body>
</html>
