{% extends "layouts/default.twig" %}
{% block content %}
  <h2 class="headline">Create your {{ site.title }} speaker profile below</h2>
    <div>A complete profile improves your chances of being selected.</div>
  {% include 'forms/_user.twig' %}
{% endblock %}
